<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TP9</title>
    <!-- font -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@1.7.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/dist/app.css">
    <link rel="stylesheet" href="/dist/user.css">
</head>

<body>
    <section id="tp_wrapper">
        <!-- tp9 heade -->
        <div class="tp_head">
            <form class="tp_search">
                <input type="text" class="tp_search_input" placeholder="search">
                <button class="tp_search_btn"><i class='bx bx-search'></i></button>
            </form>
            <div class="tp_header_info">
                <button class="tp_add_btn"></button>
                <a href="#" class="tp_setting"></a>
                <div class="tp_logo">TP9</div>
            </div>
        </div>
        <!-- tp9 menu -->
        <div class="tp_menu">
            <a href="/" class="tp_home"></a>
            <ul class="tp_menu_list">
                <li class="tp_menu_item"><a href="#" class="tp_menu_link "></a></li>
                <li class="tp_menu_item"><a href="#" class="tp_menu_link "></a></li>
                <li class="tp_menu_item"><a href="#" class="tp_menu_link "></a></li>
            </ul>
            <button class="tp_add_menu"><span class="hor"></span><span class="ver"></span></button>
        </div>

        <div class="tp_section">
            <div class="tp_user_wrapper">
                <div class="tp_user_box">
                    <div class="tp_user_title_wrapper">
                        <div class="tp_user_title">
                            (주)NSMG 멤버
                        </div>
                        <select name="" id="">
                            <option value="all">전체</option>
                            <option value="all">총괄</option>
                            <option value="all">마케팅본부</option>
                            <option value="all">전략개발본부</option>
                            <option value="all">경영지원본부</option>
                        </select>
                    </div>
                    <div class="tp_user_total_wapper">
                        <div class="tp_user_title">관리자</div>
                        <div class="tp_user_detail_wrapper">
                            <a href="#" class="tp_user_detail_box">
                                <div class="tp_user_img_box">
                                    <img src="/public/img/user_profile.png" alt="">
                                </div>
                                <div class="tp_user_info_box">
                                    <div class="tp_user_name_box">
                                        <span class="tp_user_name">홍길동</span>
                                        <span class="tp_user_position">대표</span>
                                    </div>
                                    <div class="tp_user_department_box">
                                        <span class="tp_user_department">모바일마케팅/모바일마케팅</span>
                                    </div>
                                    <div class="tp_user_email_box">
                                        <span class="tp_user_email">text@taslkjdfasl;djasl;djaskl;jd/asdlkasjdlaksdj</span>
                                    </div>
                                </div>
                            </a>
                            

                        </div>
                    </div>
                    <div class="tp_user_total_wapper">
                        <div class="tp_user_title">멤버</div>
                        <div class="tp_user_detail_wrapper">
                            <a href="#" class="tp_user_detail_box">
                                <div class="tp_user_img_box">
                                    <img src="/public/img/user_profile.png" alt="">
                                </div>
                                <div class="tp_user_info_box">
                                    <div class="tp_user_name_box">
                                        <span class="tp_user_name">홍길동</span>
                                        <span class="tp_user_position">대표</span>
                                    </div>
                                    <div class="tp_user_department_box">
                                        <span class="tp_user_department">모바일마케팅/모바일마케팅</span>
                                    </div>
                                    <div class="tp_user_email_box">
                                        <span class="tp_user_email">text@taslkjdfasl;djasl;djaskl;jd/asdlkasjdlaksdj</span>
                                    </div>
                                </div>
                            </a>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>